* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ececec;
  height: 100vh;
  width: 100%;
  min-width: 450px;
}

main {
  flex: 1;
  margin-top: 8em;
}